<% layout('layouts/boilerplate') %> 
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" class="validated-form" enctype="multipart/form-data" novalidate>
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %>" required>
        <div class="invalid-feedback">Please type something.</div>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location %>" required>
        <div class="invalid-feedback">Please type something.</div>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group has-validation">
          <span class="input-group-text">$</span>
          <input type="text" id="price" class="form-control" name="campground[price]" placeholder="0.00" aria-label="price" required value="<%= campground.price %>">
          <div class="invalid-feedback">Please type something.</div>
        </div>
      </div>
      <div class="mb-3">
        <div class="form-file custom-file">
          <label class="form-label form-file-label" for="image">Add Image</label>
          <input class="form-control form-control-file" type="file" id="image" name="image" multiple>
        </div>
        <div class="file-container">
          <% campground.images.forEach((img, i) => { %> 
            <div class="img-item">
              <span class="file-name"><%= img.filename %></span>
              <span class="btn --rm-image" data-id="<%= i %>">
                <svg xmlns="http://www.w3.org/2000/svg" width="18.576" height="20.037" viewBox="0 0 18.576 20.037">
                  <g id="Capa_1" data-name="Capa 1" transform="translate(-229.89 -323.451)">
                    <path id="Path_422" data-name="Path 422" d="M247.525,326.8h-4.171V324.29a.839.839,0,0,0-.839-.839H235.84a.839.839,0,0,0-.839.839h0V326.8h-4.17a.839.839,0,1,0-.2,1.665.774.774,0,0,0,.2,0h.827v12.524a2.5,2.5,0,0,0,2.5,2.5h10.019a2.5,2.5,0,0,0,2.505-2.5V328.46h.839a.839.839,0,1,0,.2-1.665A.774.774,0,0,0,247.525,326.8Zm-10.858-1.678h5.009V326.8h-5.009Zm8.353,15.867a.839.839,0,0,1-.839.839H234.162a.839.839,0,0,1-.826-.839V328.46H245.02Z"></path>
                    <path id="Path_423" data-name="Path 423" d="M236.667,330.126a.827.827,0,0,0-.827.826v7.527a.827.827,0,0,0,.814.839h.013a.839.839,0,0,0,.839-.839h0v-7.514a.839.839,0,0,0-.839-.839Z"></path>
                    <path id="Path_424" data-name="Path 424" d="M241.676,330.126a.826.826,0,0,0-.826.826v7.527a.826.826,0,0,0,.814.839h.012a.839.839,0,0,0,.839-.839h0v-7.514a.839.839,0,0,0-.839-.839Z"></path>
                  </g>
                </svg>
              </span>
            </div>
          <% }); %> 
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" id="description" name="campground[description]" rows="5" required><%= campground.description %></textarea>
        <div class="invalid-feedback">Please type something.</div>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Update Campgrounds</button>
      </div>
    </form>
    <div class="mb-3">
      <a class="" href="/campgrounds/<%= campground._id %>">Back to campground</a>
    </div>
  </div>
</div>
<input type="text" name="imgSize" value="<%= campground.images.length %>" hidden>
<% campground.images.forEach((img, i) => { %> 
  <input type="text" name="delImg[]" value="<%= img.url %>" hidden>
<% }) %> 